
.hero {
    padding-top: 100px;
    padding-bottom: 2rem;
    height: 600px;
    background-position: 90% 25%;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(207, 207, 207, 0.8)), url(../../images/fondohero.jpg);
    overflow: hidden;
    
    
    @include media-breakpoint-up(lg) {
        padding-top: 105px;
        padding-bottom: 1.5rem;
        
        height: 750px;
    }
 
    .container{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            padding-top: 30px;
       
        h1{ 
            color:  $color-sales;
            margin-bottom: 2rem;

        }

        h2{
            color:$color-blue-main;
           
            @include media-breakpoint-up(md) {
                font-size: 3.5rem;
            }
            
        }

        .circle{
                             
 
            img {
             width: 62%;
                 
                @include media-breakpoint-up(lg) {
                    
                    width:70%;
       
                }
                @include media-breakpoint-up(xl) {
                    
                    width:75%;
        
                }
            };
                
        }

    }

}



/*FUNCIONAMIENTO
***********************************/
.como_funciona {

    .container{

        h2 {
            margin: 3rem 0;
            text-align: center;
            color:$color-blue-main;
            @include media-breakpoint-up(lg) {
                padding: 3rem 0 0;
                padding: 3rem 0;
            }
        }

        h3{
            margin: 1rem 0 ;
            color:$color-sales;
            font-weight: bold;
            text-align: center;
            @include media-breakpoint-up(lg) {
                padding: 3rem 0 0;
                padding: 3rem 0;
                text-align: left;
            }

        }
        p{
            text-align: justify;
            
        }

       
       .lema_contenedor{
            margin:  4rem auto;
            text-align: center;
            display: flex;
            color: #20396f;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 25px;
            box-shadow: inset 0 0 0 3px #20396f;
            justify-content: space-evenly;

            @include media-breakpoint-up(sm) {
                font-size: 2rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 2.7rem;
            }


           .lema{
   
                margin: auto;
                width: 50%;
                color: #20396f;
                border-radius: 25px;

            }
            
            .lema2{
                
                margin: auto;
                width: 50%;
                color: rgb(255, 255, 255);
                background-color: #20396f;
                border-radius: 25px;
                box-shadow: inset 0 0 0 3px #20396f;
                
              
            }
            
           p{
                text-align: center;
                margin: 5px 5px;
           
                @include media-breakpoint-up(lg) {
                    margin: 10px 5px;
                }

            }

        }

        .como_funciona_lista{

            ul{
                padding: 0;


                li{
                    margin: 3rem 2rem 2rem 0px;
                    list-style-type: none;
                    display: flex;
                   
                    // .circulo{
    
                    //     color: #fff;
                    //     background-color: $color-blue-dark;
                    //     min-width: 5rem;
                    //     height: 5rem;
                    //     display: grid;
                    //     place-items: center;
                    //     border-radius: 50%;
                    //     margin: auto 2rem;
                    //     font-family: 'Arial-Black';
                    //     font-size: 3.2rem;

                    //     @include media-breakpoint-up(lg) {
                    //         min-width: 6rem;
                    //         height: 6rem;
                    //         font-size: 4.3rem;
                    //     }
                       
    
                    // }

                    p {
                      margin: auto 1rem;
                      
                    }
                }
            }
        }

    }

}

.como_vendemos{

    .container{

        &>h2 {
            margin: 3rem 0;
            text-align: center;
            // color:$color-blue-main;
            @include media-breakpoint-up(lg) {
                padding: 3rem 0 0;
                padding: 3rem 0;
            }
        }

        &>h3{
            margin: 1rem 0 ;
            // color:$color-sales;
            font-weight: bold;
            text-align: center;
            @include media-breakpoint-up(lg) {
                padding: 3rem 0 0;
                padding: 3rem 0;
                text-align: left;
            }

        }

        .como_vendemos_lista{

            .uno,.dos,.tres,.cuatro,.cinco{

                .titulo{

                    margin-top: 4rem;
                    list-style-type: none;
                    display: flex;

                    &>h2{
                        margin-left: 1.5rem;
                    }

                }

                .contenido{

                    margin: 2rem 0;
                    list-style-type: none;
                    display: flex;

                    @include media-breakpoint-up(sm) {
                        margin: 3rem 2rem 0rem 3rem;
                    }

                    
                    img{
                        min-width: 45px;
                        height: 45px;
                        margin-right: 1rem;
                        
                        @include media-breakpoint-up(sm) {
                            min-width: 96px;
                            height: 96px;
                            margin-right: 2rem;
                        }

                    }
                }


            }

            .tres{

               
                
                .lista_flecha{
                    text-align: center;
                    
                
                    h3{ 
                        color: $color-sales;
    
                    }
                    .flecha{
                        width: 35%;

                    }
                }

                .antesydespues{
                    display: flex;
                    justify-content: center;
                    gap: 2rem;

                    .foto{
                        position: relative;
                        width: 40%;
                        border: 5px solid $color-blue-main;
                        border-radius: 10%;
                        overflow: hidden;

                        img{
                            width: 100%
                        };

                        .valor{
                            padding: 0.1rem;
                            width: 50%;
                            position: absolute;
                            bottom: 0px;
                            right: 25%;
                            border-radius: 10px 10px 0 0;
                            background-color: $color-blue-main;
                            color: white;
                            font-size: 0.7rem;
                            font-weight: bold;
                            text-align: center;

                            @include media-breakpoint-up(sm) {
                                font-size: 1.3rem;
                                padding: 0.2rem;
                            }
                        }

                    }

                }


            }

            .cuatro{
                
               

            }


            .cinco{

                
        
                .finalcontenido{

                    h3{
                        // color: $color-sales;
                        margin: 2rem 0;
                    }

                    .lema_contenedor{
                        margin: auto;
                        text-align: center;
                        display: flex;
                        color: #20396f;
                        font-size: 1.5rem;
                        font-weight: bold;
                        border-radius: 25px;
                        box-shadow: inset 0 0 0 3px #20396f;
                        justify-content: space-evenly;
            
                        @include media-breakpoint-up(sm) {
                            font-size: 2rem;
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 2.7rem;
                        }
            
            
                       .lema{
               
                            margin: auto;
                            width: 45%;
                            color: #20396f;
                            border-radius: 25px;
                        }
                        
                        .lema2{
                            
                            margin: auto;
                            width: 55%;
                            color: rgb(255, 255, 255);
                            background-color: #20396f;
                            border-radius: 25px;
                            box-shadow: inset 0 0 0 3px #20396f;
                            
                        }
                        
                        p{
                            text-align: center;
                            margin: 5px 5px;
                       
                            @include media-breakpoint-up(lg) {
                                margin: 10px 5px;
                            }
            
                        }
            
                    }

                    p{
                        margin: 1rem 0;
                        font-size: 2rem;
                        font-weight: bold;
                    }

                    p:nth-child(4){
                        margin-top: 2rem;
                        background-color: $color-sales;
                        color: white;
                        border-radius: 25px;
                        padding: 0.5rem;
                        width: 80%;
                        text-align: center;

                    }

                }
    
    
            }
        }
      


    }

    
}


.casos_exito{

    background-color: $color-gray-light;

    .container{


        // h2{

        // }

        // h3{


        // }


        .proyectos{

            &>p{
                margin: 2rem 0;
                width: fit-content;
                font-size: 2.5rem;
                border-radius: 50px;
                border: 5px solid $color-blue-main;
                padding: 1rem 4rem;

            }

            .p_antesydespues{

                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;

                .foto{
                    position: relative;
                    width: 48%;
                    min-width: 200px;
                    border: 8px solid $color-blue-main;
                    border-radius: 10%;
                    overflow: hidden;

                    img{
                        width: 100%
                    };

                    .valor{
                        padding: 0.1rem;
                        width: 50%;
                        position: absolute;
                        top: 0px;
                        right: 25%;
                        border-radius: 0px 0px 10px 10px;
                        background-color: $color-blue-main;
                        color: white;
                        font-size: 0.7rem;
                        font-weight: bold;
                        text-align: center;

                        @include media-breakpoint-up(sm) {
                            font-size: 1.3rem;
                            padding: 0.2rem;
                        }
                    }

                }

            }

        }

    }
}

/*FAQ Accordion
*************************************/
.preguntas_frecuentes{

    padding-top: 0;

    .faq {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 10rem;
        row-gap: 3rem;

        .faq_accordion {
            width: 100%;

         
            .accordion{
                padding-bottom: 2rem;
                padding-top: 2rem;
                --bs-accordion-border: none
                --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            }

            .accordion-item{
                border: none;
                padding: 15px 0;

                
                h3 {
                    margin-bottom:15px;
                }
                
                .accordion-button {
                    color: $color-blue-main;
                    padding: 1.75rem 5rem;
                    font-size: 1.75rem;
                    font-weight: 700;
                    background-color: rgb(169, 177, 189);
                    line-height: 1.5;
                    border-radius: 0 65px 0 65px;
                    height: 120px;

                    @include media-breakpoint-up(sm) {
                        height: auto;
                        border-radius: 0 65px 65px 0;
                    }
                                      
                }

                .accordion-body {
                    font-size: 1.5rem;
                    // background-color: rgb(251, 251, 251);
                    text-align: justify;
                    padding: 1.75rem;

                    ol {
                        list-style-type: upper-roman; 
                        list-style-position: outside;
                       
                    }
                }
            }

        }


    }

}



/*CONTACT FORM
****************************************/
.formulario {
    text-align: center;
    background-color: $color-gray-light;
    color: black;

    .tituloFormulario {
        margin: 3rem 0 4rem;

        p {
            font-size: 1.6rem;

            @include media-breakpoint-up(md) {
                font-size: 2.1rem;
            }
        }

    }

    h3 {
        margin: 2.5rem 0rem 2rem;
        font-weight: 700;

        &:first-child {
            margin-top: 0;
        }
    }

    form {

        .datos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .form-group {
                width: 95%;
                margin-bottom: 2.5rem;

                @include media-breakpoint-up(lg) {
                    width: 45%;
                }

                .form-control {
                    border-radius: 0px;
                    padding: 0.85rem 1rem;
                    font-size: 1.6rem;
                    text-align: left;
                }

                textarea {
                    height: 178px;
                    width: 100%;
                    border: none;
                }

            }

        }





    }

    .error-msg {
        color: $color-sales;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        padding-top: 5px;
        display: none;

        &.visible {
            display: block;
        }
    }


    

}

/*THANK YOU
************************************************/
.thank-you {
    padding: 15rem 0;
    text-align: center;

    &>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            margin-top: 2rem;
        }
    }

    h1 {
        color: $color-blue-main;
    }


}