/*FONTS
*******************************/
// @font-face {
//     font-family: c  ;
//     src: url(/assets/fonts/arialblack.ttf);
// }

$font-family-main: 'Montserrat', sans-serif;
$font-family-secondary: 'Noto serif', serif;

/*COLORS
*******************************/
$color-white: #fff;
$color-black: #000;
$color-main: #333;
$color-blue-main: #20396f;
$color-blue-dark:#24314f;
$color-blue-light: #4764a3;
$color-blue-secundario: #0e1b32;
$color-whatsapp: #1fca1f;
$color-available: #1CCB00;
$color-sales: #b11f24;
$color-sales-2:#e17a7a;
$color-gray-light:#c6c4c4;
$color-gray-light2:#f4eded;